
//$body-font-color: #0A0A0A;

$topbar-background: transparent;

$header-font-family: 'Audrey';
$header-margin-bottom: 2rem;

$body-font-family: 'Audrey';

$anchor-color: scale-color($dark-font-color, $lightness: +50%);
$anchor-color-hover: scale-color($anchor-color, $lightness: +80%);

$hr-border: 1px solid $body-font-color;

$button-background: $beaver;
$button-background-hover: scale-color($button-background, $lightness: -15%);
